.avatar_img {
width        : 130px;
height       : 130px;
overflow     : hidden;
border       : 5px solid #b92a76;
border-radius: 50%;
box-shadow   : 0 8px 55px #b92a76a4;
position     : absolute;
top          : 0;
left         : 50%;
transform    : translate(-50%, -50%);
}

