.App {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(106, 207, 207); */
    min-height     : 100vh;
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    background     : linear-gradient(20deg, #ff2844, #6741ff);
  }

*{
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  color      : #334e64;
  font-family: 'Montserrat', sans-serif;
}
  
  